

<div>
    <header>

        <div class="">
            <figure class="">
                <picture class="text-center">
                    <% if (card.Fold4_icon) { %>
                    <img height="200" alt="" id="" role="presentation" 
                
                    src="<%= cmsBaseUrl + card.Fold4_icon.url %>"
                    >
                    <% }  else {%>
    
                        <img height="200" alt="" id="" role="presentation" 
                
                    src=""
                    >
                        <% } %>
                </picture>
            </figure>

        </div>
        <h2 class="text-center stat-text1">  <%= card.Fold4_title %></h2>
    </header>
    <p class="text-center stat-text2"> <%= card.Fold4_text %></p>
</div>

<!-- 
<div>
    <header>

        <div class="fsElementHeaderContent">
            <figure class="fsImage">
                <picture class="text-center"><img width="200" height="200" alt="" id=""
                        role="presentation" src="./stats/student_moving-icon.gif"></picture>
            </figure>

        </div>
        <h2 class="text-center stat-text1" class="fsElementTitle">10,000+</h2>
    </header>
    <p class="text-center stat-text2">Bhartians since Inception </p>
</div>
<div>
    <header>

        <div class="fsElementHeaderContent">
            <figure class="fsImage">
                <picture><img width="200" height="200" alt="" id="" role="presentation"
                        src="./stats/money_moving-icon.gif" width="94"></picture>
            </figure>

        </div>
        <h2 class="text-center stat-text1">100%</h2>
    </header>
    <p class="text-center stat-text2">Unfolding Infinite Potential </p>
</div>
<div>
    <header>

        <div class="fsElementHeaderContent">
            <figure class="fsImage">
                <picture><img width="200" height="200" alt="" id="" role="presentation"
                        src="./stats/trophy_moving-icon.gif"></picture>
            </figure>


        </div>
        <h2 class="text-center stat-text1">25+</h2>
    </header>
    <p class="text-center stat-text2">Extra-Curricular Activities </p>
</div> -->